# This is a basic workflow that is manually triggered

name: Github action for running docker fastqc 

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:


  
    # User inputs for the workflow
    inputs:
      INPUT_PATH:
        description: 'Inputpath for the files'
        # Default value if no value is explicitly provided
        default: '/share/home/grp-sunhao/zhaoxing/pub/example/np.human.fastq.pico'
        #default: '/data'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: string

      OUTPUT_PATH:
        description: 'Outputpath for the files'
        # Default value if no value is explicitly provided
        default: '/share/home/grp-sunhao/zx/dev/np.human.fastq/output'
        #default: '/data'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: string

      JOB_NAME:
        description: 'Give yor job a name'
        # Default value if no value is explicitly provided
        default: 'demo'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: string

      THREAD_NUM:
        description: 'Thread number for alignment etc.'
        # Default value if no value is explicitly provided
        default: "8"
        # Input has to be provided for the workflow to run
        required: false
        # The data type of the input
        type: string



# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  fastqc:
  
    name: Fastq Quality Control
    # CHANGE ME if the action is run in private repo
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Pull Docker image
      run: docker pull ghcr.io/cuhk-haosun/code-docker-fastqc:latest

    - name: Set up environment variables
      run: |
        echo "INPUT_PATH=${{ github.workspace }}/data/${{ github.event.inputs.input_filename }}" >> $GITHUB_ENV
        echo "OUTPUT_PATH=${{ github.workspace }}/data/output" >> $GITHUB_ENV
    - name: Run Docker container
      run: |
        docker run -d --name my_container \
          -v ${{ github.workspace }}/data:/mnt/in \
          -e INPUT_PATH="${{ env.INPUT_PATH }}" \
          -e OUTPUT_PATH="${{ env.OUTPUT_PATH }}" \
          ghcr.io/cuhk-haosun/code-docker-fastqc:latest
    #- name: Run container with environment variables
      #env:
          #INPUT_PATH: ${{ github.event.inputs.INPUT_PATH }}
          #OUTPUT_PATH: ${{ github.event.inputs.OUTPUT_PATH }}
          #JOB_NAME: ${{ github.event.inputs.JOB_NAME }}
          #THREAD_NUM: ${{ github.event.inputs.THREAD_NUM }}
      #run: |
          #docker run -d --name my_container \
            #-e INPUT_PATH="${INPUT_PATH}" \
            #-e OUTPUT_PATH="${OUTPUT_PATH}" \
            #-e JOB_NAME="${JOB_NAME}" \
            #-e THREAD_NUM="${THREAD_NUM}" \
            #ghcr.io/cuhk-haosun/code-docker-fastqc:latest

    - name: Fetch container logs
      run: docker logs my_container

    - name: Stop and remove container
      run: |
          docker stop my_container
          docker rm my_container
          
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v6
      with:
        branch-suffix: short-commit-hash
          
        commit-message: |
          Add result for ${{ github.event.inputs.JOB_NAME }}
          This is auto uploaded commit
      
        branch: result-${{ github.event.inputs.JOB_NAME }}
        delete-branch: true
    
        title: '[Demo] add report for nanopore DNA seq run ${{ github.event.inputs.JOB_NAME }}'
        body: |
            Update report
            - Auto-generated by github action `Pipeline for nanopore DNA sequencing`
