# This is a basic workflow that is manually triggered

name: Github action for running docker fastqc 

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:


  
    # User inputs for the workflow
    inputs:
      INPUT_PATH:
        description: 'Inputpath for the files'
        # Default value if no value is explicitly provided
        default: '/share/home/grp-sunhao/zhaoxing/pub/example/np.human.fastq.pico'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: string

      OUTPUT_PATH:
        description: 'Outputpath for the files'
        # Default value if no value is explicitly provided
        default: '/share/home/grp-sunhao/zx/dev/np.human.fastq/output'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: string

      JOB_NAME:
        description: 'Give yor job a name'
        # Default value if no value is explicitly provided
        default: 'fastqc'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: string

      THREAD_NUM:
        description: 'Thread number for alignment etc.'
        # Default value if no value is explicitly provided
        default: "8"
        # Input has to be provided for the workflow to run
        required: false
        # The data type of the input
        type: string

      RUN_LOCATION:
        description: 'Location of the runtime environment'
        # Default value if no value is explicitly provided
        default: 'ubuntu-latest'
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: string



# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  fastqc:
  
    name: Fastq Quality Control
    runs-on: ${{ github.event.inputs.RUN_LOCATION }}
  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Pull Docker image
      run: docker pull ghcr.io/cuhk-haosun/code-docker-fastqc:latest
    
    - name: Run container with environment variables
      run: |
          docker run --name "${{ github.event.inputs.JOB_NAME }}_container" \
            -v ${{ github.event.inputs.INPUT_PATH }}:/mnt/in \
            -v ${{ github.event.inputs.OUTPUT_PATH }}:/mnt/out \
            -e JOB_NAME=${{ github.event.inputs.JOB_NAME }} \
            -e THREAD_NUM=${{ github.event.inputs.THREAD_NUM }} \
            ghcr.io/cuhk-haosun/code-docker-fastqc:latest


    - name: Stop and remove container
      run: |
          docker stop "${{ github.event.inputs.JOB_NAME }}_container"
          docker rm "${{ github.event.inputs.JOB_NAME }}_container"
          
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v6
      with:
        branch-suffix: short-commit-hash
          
        commit-message: |
          Add result for ${{ github.event.inputs.JOB_NAME }}
          This is auto uploaded commit
      
        branch: result-${{ github.event.inputs.JOB_NAME }}
        delete-branch: true
    
        title: '[Demo] add report for nanopore DNA seq run ${{ github.event.inputs.JOB_NAME }}'
        body: |
            Update report
            - Auto-generated by github action `Pipeline for fastqc and multiqc`
